body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #3b3030;
	font-family: sans-serif;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #000000;
	z-index: 1000;
}

.menu {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
}

.menu button {
	background-color: #000000;
	color: #fff;
	border: none;
	padding: 0.7em 1.5em;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
}

img {
	border-radius: 20px;
	display: block;
	margin: 1.5rem auto;
	max-width: 100%;
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.menu button:hover {
	background-color: #666;
}

h1 {
	font-size: 3rem;
	color: #ebe5e5;
	padding: 2rem;
	font-family: 'Anton', sans-serif;
}

form {
	background-color: #000000;
	color: #ebe5e5;
	padding: 2rem;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 300px;
	font-family: 'Anton', sans-serif;
}

button {
	background-color: #ebe5e5;
	color: #000000;
	border: none;
	padding: 0.7em 1.5em;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	position: center;
	display: block;
	margin: 0 auto;
}