body {
    font-family: sans-serif;
    margin: 30px;
    background-color: #f5f5f5;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    margin-right: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}