body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #f0f0f0;
	font-family: sans-serif;
}

h1 {
	font-size: 3rem;
	color: #333;
}